// 1.Config
$border-radius: 2px;
$btn-height: 38px;

// 2.Base
.m-btn {
  display:  inline-block;
  height: $btn-height;
  border-radius: $border-radius;
  text-transform: uppercase;
  color: $white;
  text-transform: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: $btn-height;
  padding: 0 20px;
  border: 1px solid #fff;
  @include transition(all .2s linear);
  font-weight:  500;
}

.btn-blue {
  border-color: #21bec0;
  background-color: $fountain-blue;

  &:hover {
    border-color: darken(#21bec0, 10%);
    background-color: darken($fountain-blue, 10%);
  }
}

.btn-trans {
  color: $fountain-blue;
  border: 1px solid $fountain-blue;

  &:hover{
    color: $white;
    background-color: darken($fountain-blue, 20%);
  }
}
