// 1.Config

// 2.Drupal Overwrite

.logged-in,
.not-front {
  .header{
    position: relative;
  }
}

.not-front {
  .footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.logged-in.node-type-blog,
.page-blog {
  .footer {
    position: inherit;
  }
}

.main-content {
  padding-bottom:  50px;

  h2 {
    text-align: left;
  }
}

ul.inline  {
  li {
    padding: 2px 3px 0 0;
  }
}
