// 1.Config
// 2.Base

.m-herounit {
  position:  fixed;
  width: 100%;
  height:  385px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  @include mq(phone){
    height:430px;
  }
  @include mq(tablet){
    height: 490px;
  }
}

.m-hero {
  margin: $header-height-dev auto 0;
  @include background-image-retina(hero, jpg);
  background-size: cover;
  background-position: center center;
  height: 250px;
  @include mq(tablet){
    height: 350px;
  }

  @include mq(tablet){
      height: 457px;
      margin: $header-height auto 0;
  }

  h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0;
    vertical-align: middle;
    text-shadow: 0 5px 20px rgba(0,0,0,.15);

    @include mq(phone) {
      font-size: 55px;
    }

  }

  p {
    display:  none;
    width: 80%;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $white;
    text-align: center;
    text-shadow: 0 5px 20px rgba(0,0,0,.15);
    @include mq(tablet) {
      display:  block;
      width: 80%;
      margin: 30px auto;
      font-size: 17px;
    }
  }
}

.m-heroregister {
  padding: 20px 0;
  height: auto;

  @include mq(tablet) {
    padding: 30px 0;
    height:  115px;
  }
}

.m-heroregister__event-text {
  font-size: 15px;
  color: $title-gray;
  @include mq(tablet) {
    font-size: 17px;
  }
}

.m-heroregister__text {
  margin: 2px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  @include mq(tablet) {
    margin-top: 15px;
  }
}
.m-heroregister__btn {
  float: right;
  margin: 0;
}
