// 1.Config
$btn-mobile-padding-x: 0px !default;
$btn-mobile-padding-y: 15px !default;
$btn-mobile-layer-width: 30px !default;
$btn-mobile-layer-height: 3px !default;
$btn-mobile-layer-spacing: 4px !default;
$btn-mobile-layer-color: #000 !default;
$btn-mobile-layer-border-radius: 4px !default;
$btn-mobile-hover-opacity: 0.7 !default;
$btn-mobile-hover-transition-duration: 0.15s !default;
$btn-mobile-hover-transition-timing-function: linear !default;
$btn-mobile-hover-use-filter: false !default;
$btn-mobile-hover-filter : opacity(50%) !default;

// 2.Base
.btn-mobile {
  padding: $btn-mobile-padding-y 0 $btn-mobile-padding-x ;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: $btn-mobile-hover-transition-duration;
  transition-timing-function: $btn-mobile-hover-transition-timing-function;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  float: right;
  @include mq(tablet) {
    display: none;
  }

  &:hover {
    @if $btn-mobile-hover-use-filter == true {
      filter: $btn-mobile-hover-filter;
    }
    @else {
      opacity: $btn-mobile-hover-opacity;
    }
  }
}

.btn-mobile-box {
  width: $btn-mobile-layer-width;
  height: $btn-mobile-layer-height * 3 + $btn-mobile-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.btn-mobile-inner {
  display: block;
  top: 50%;
  margin-top: $btn-mobile-layer-height / -2;

  &,
  &:after,
  &:before {
    width: $btn-mobile-layer-width;
    height: $btn-mobile-layer-height;
    background-color: $btn-mobile-layer-color;
    border-radius: $btn-mobile-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &:after,
  &:before {
    content: "";
    display: block;
  }

  &:before {
    top: ($btn-mobile-layer-spacing + $btn-mobile-layer-height) * -1;
  }

  &:after {
    bottom: ($btn-mobile-layer-spacing + $btn-mobile-layer-height) * -1;
  }
}

.btn-mobile--emphatic {
  overflow: hidden;

  .btn-mobile-inner {
    transition: background-color 0.2s 0.25s ease-in;

    &:before {
      left: 0;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
    }

    &:after {
      top: ($btn-mobile-layer-height) + ($btn-mobile-layer-spacing);
      right: 0;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
    }
  }

  &.is-active {
    .btn-mobile-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent;

      &:before {
        left: $btn-mobile-layer-width * -2;
        top: $btn-mobile-layer-width * -2;
        transform: translate3d($btn-mobile-layer-width * 2, $btn-mobile-layer-width * 2, 0) rotate(45deg);
        transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:after {
        right: $btn-mobile-layer-width * -2;
        top: $btn-mobile-layer-width * -2;
        transform: translate3d($btn-mobile-layer-width * -2, $btn-mobile-layer-width * 2, 0) rotate(-45deg);
        transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

.m-mainmenu {
  display: none;
  position: absolute;
  left: 0;
  top: $header-height-dev;
  width: 100%;
  background: $white;

  @include mq(tablet){
    top: $header-height;
    float: right;
    display: block;
    position: inherit;
    width: auto;
  }

  ul {
    margin: 0;
    padding: 0;

    @include mq(tablet){
      margin: 24px 0;
    }
  }

  li {
    margin: 0 auto;
    text-align:  center;
    padding: 10px 0;
    border-top: 1px solid $light-gray;
    list-style: none;
    @include transition(all .2s linear);
      @include mq(tablet){
        display: inline-block;
        margin: 0 5px;
        padding: 3px 12px;
        border: 0;
    }
  }

  a {
    font-size: 15px;
    color: $title-gray;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all .2s linear);

    &:hover {
      color: $banner-blue;
    }
  }

  .m-mainmenu__btn-join {
    border-radius: 2px;
    border: 1px solid $banner-blue;

    &:hover {
      background: $banner-blue;
      color: $white;
    }

    a {
      color: $banner-blue;

      &:hover {
        color: $white;
      }
    }
  }
}
