// 1.Config


// 2.Base
.l-blocks-get {
  p {
    text-align: center;
  }
}

.l-blocks-get__img01,
.l-blocks-get__img02,
.l-blocks-get__img03 {
  height: 118px;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
}

.l-blocks-get {
  .l-blocks-get__btn {
    text-align: center;
    display: block;
    width: 205px;
    margin: 25px auto 40px;
  }
}

.l-blocks-mission {
  .l-constrained {
    border-bottom: 1px solid $gray-line;
  }

  p {
    text-align: center;
  }
}

.l-blocks-mission__infotext {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.members-item {
  text-align: center;
  height: 100px;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
}


.block-bg {
  position: relative;
  margin: 90px auto 50px;
  border-radius: 10px;
  background: $white;
  padding: 30px;
  width: 80%;
  @include mq(tablet) {
    width: 100%;
  }
}

.m-carousel-blog,
.l-blocks-member {
  padding-bottom: 20px;
}
.m-carousel-blog {
  width: 90%;
  margin: 0 auto;
}
.blog-item{
  margin: 0 20px;
  width: calc(100% - 40px);

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight:  400;
  }

  .date {
    margin: 20px 0 10px;
    padding: 20px 0 10px;
    border-top: 1px solid $gray;
  }
}
