
// Colors
$white: #ffffff; // bg
$gray: #f1f2f5; // bg-gray
$gray-line: #d9dadd; // section-line
$dark-gray: #454850; // footer-bg
$shuttle-gray: #575b64; // footer-line
$gull-gray: #969eb6; //  footer text
$footer-blue: #5dc0c9; // footer links
$light-gray: #f1f2f5; //  section-line-down
$fountain-blue: #5fc0c3; // title and bg
$banner-blue: #61c0bd; // blog title
$title-gray: #575656; // title + text
$text-gray: #5b6172; // most of text
$blog-line: #5dc0c9; // blog line
$icon-bg: #57c0d5; // icon background


// Fonts
$body-font: "museo-sans",sans-serif !default;
$base-font-family: Arial !default;
$body-font-weight: 300 !default;
$body-font-size: 14px !default;
$body-font-color: $text-gray !default;
$body-font-style : normal !default;


// Misc
$link-color: $fountain-blue !default;
$header-height: 80px;
$header-height-dev: 50px;

// Use with @extend %clearfix;
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Grid variables
$max_columns: 12;
$grid-padding: 0 15px;
$gutter_px: 0;
$gutter_pc: 0;
// Media Query
@mixin mq($mq) {
   @if $mq == smphone{
    @media (min-width: 320px) {
       @content;
    }
  }
  @if $mq == phone {
     @media (min-width: 480px){
      @content;
    }
  }
  @if $mq == tablet {
     @media (min-width: 768px){
      @content;
    }
  }
  @if $mq == desktop {
     @media (min-width: 992px){
      @content;
    }
  }
  @if $mq == wide {
     @media (min-width: 1200px){
      @content;
    }
  }
  @if $mq == retina {
     @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx){
      @content;
    }
  }
}

//Image url
$url : "../images/_common";

//img BG mixer for Retina and default
@mixin background-image-retina($file, $type) {
  background-image: url($url + '/' + $file + '.' + $type);
    @include mq(retina) {
      background-image: url($url + '/' + $file + '@2x.' + $type);
    }
}

// Transition
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
