// 1.Config
// 2.Base
.footer {
  background-color: $dark-gray;
  position: relative;
  z-index:  5;
}

.footer__social {
  list-style: none;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  border-bottom: 1px solid $shuttle-gray;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  a {
    font-size: 18px;
    @include transition(all .2s linear);

    &:hover {
      color: lighten($fountain-blue, 10%);
    }
  }
}

.footer__copyright {
  margin: 0;
  padding: 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #979eb1;
  text-align: center;
}
