// 1.Config


// 2.Base

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: $header-height-dev;
  background: $white;
  z-index: 20;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  @include transition(all .2s linear);
  @include mq(tablet) {
      height: $header-height;
  }

}
.site-name {
  width: 150px;
  height: 24px;
  float: left;
  margin: 15px 0 0;
  background-size: cover;
  @include mq(tablet) {
    margin-top: 28px;
  }

  @include background-image-retina(logo, png);
  span {
    display: none;
  }
}
