// 1.Config

// 2.Base
[class*="icon-"] {
  display: block;
  @include background-image-retina(icons, png);
  margin: 20px auto;
  background-size: cover;
}
.icon-01 {
  width: 28px;
  height: 40px;
  background-position: 0 0;
}
.icon-02 {
  width: 52px;
  height: 40px;
  background-position: 100px 0;
}
.icon-03 {
  width: 40px;
  height: 40px;
  background-position: 188px 0;
}

.ico-wrap {
  position: absolute;
  left: 50%;
  top: -50px;
  margin-left: -50px;
  width: 100px;
	height: 100px;
  border-radius: 50%;
  background: $icon-bg;
  border: 10px solid $white;
}
