// 1.Config

//$accordion-bgcolor: $gray !default;

// 2.Base

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  height: 100%;
}

body {
  background: $white;
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-font-color;
  font-style: $body-font-style;

}

p {
  margin: 15px 0 0;

  &:first-child {
    margin-top: 0;
  }
}

b, strong {
  font-weight:  500;
}

a {
  color: $link-color;
  text-decoration: none;
}

.sup {
  z-index: -1;
}

h2 {
  padding: 38px 0;
  margin: 0;
  font-size: 26px;
  color: $title-gray;
  text-align: center;
  text-transform:  uppercase;
}

h3{
  margin: 0;
  padding: 22px 0;
  font-size: 17px;
  color: $title-gray;
  text-align: center;
  text-transform:  uppercase;
}

h4{
  margin: 0;
  padding: 16px 0;
  font-size: 17px;
  font-weight: 500;
  color: $blog-line;
  text-align: center;
}

h5 {
  margin: 0 0 20px 0;
  padding: 13px 0;
  border-bottom:  1px solid $gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight:  600;
  color: $banner-blue;
}
